.task-input {
    height: 120px;
    padding: 25px 25px;
    position: relative;
}

.task-input form {
    height: 100%;
}

.task-input img {
    top: 50%;
    position: absolute;
    transform: translate(17px, -50%);
}

.task-input input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 20px 0 53px;
    border: 1px solid #999;
}

.task-input input:focus,
.task-input input.active {
    padding-left: 52px;
    border: 2px solid #3C87FF;
}

.task-input input::placeholder {
    color: #bfbfbf;
}

@media (max-width: 900px) {
    .task-input {
        padding: 20px;
        height: 100px;
        position: sticky;
        top: 0;
        background-color: white;
        border-radius: 10px;
    }
}